.header-basic {
    /* box-shadow: 1px 2px 2px rgba(196, 196, 196, 0.15); */
    padding-left: 220px;
    height: 83px;
    box-sizing: border-box;
    padding-top: 21px;
    border-bottom: 1px solid #BDBDBD;
}

.toolbar {
    background-color: black;
    padding-left: 100px;
    border-bottom: 1px solid red;
}

.rotate{
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }